*.js
*.js.map
*.log
*.d.ts
*.nsbuildinfo
*.DS_Store

!/index.d.ts
!/reference.d.ts
!tslint-prettier.config.js
!prettier.config.js
!prettier.config.js
!src/assign.helper.js

demo/app/*.js
!demo/app/tests/*.js
demo/*.d.ts
demo/platforms
demo/hooks
demo/node_modules
demo-angular/app/*.js
demo-angular/*.d.ts
demo-angular/node_modules
demo-angular/hooks
demo-angular/platforms
src/node_modules
src/hooks
*.tgz
package-lock.json